<nav
  class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-x-2.5 justify-start rtl:justify-end">
        <!-- sidebar button -->
        @if (authService.isWorker()) {
        <button
          [attr.data-drawer-target]="
            authService.isWorker() ? 'logo-sidebar' : null
          "
          [attr.data-drawer-toggle]="
            authService.isWorker() ? 'logo-sidebar' : null
          "
          type="button"
          class="inline-flex items-center p-2 me-1 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        }@else {
        <p-togglebutton
          [(ngModel)]="isDarkMode"
          onLabel="Light"
          offLabel="Dark"
          size="small"
          styleClass="w-16 "
          (click)="toggleDarkMode()"
        />
        }

        <a
          class="flex items-center space-x-3 rtl:space-x-reverse border rounded-full py-1 px-2.5 bg-sky-50/50 dark:bg-sky-100 shadow-sm"
        >
          <span
            class="self-center text-2xl capitalize font-semibold whitespace-nowrap text-text-primary"
            >perfumes</span
          >
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <!-- menu links -->
          <div
            class="hidden w-full md:block me-2 p-0.5 border-none md:border-gray-400/50 md:border-solid border rounded-full md:w-auto absolute md:dark:bg-sky-50 md:bg-gray-300/15 top-[85%] left-0 z-50 md:relative md:top-0"
            id="navbar-default"
          >
            <ul
              class="font-medium bg-sky-50/50 dark:bg-sky-100 md:dark:bg-transparent md:dark:bg-origin-padding bg-origin-border flex flex-col gap-0.5 md:gap-0 p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-1.5 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent"
            >
              <li>
                <a
                  routerLink="/pos/home"
                  routerLinkActive="active-link"
                  class="block py-2 px-3 text-text-primary rounded-sm text-center hover:bg-hover-bg md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  routerLink="/pos/about"
                  routerLinkActive="active-link"
                  class="block py-2 capitalize px-3 text-text-primary rounded-sm text-center hover:bg-hover-bg md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0"
                  >about</a
                >
              </li>
              <li>
                <a
                  routerLink="/pos/cart"
                  routerLinkActive="active-link"
                  class="block py-2 px-3 text-text-primary rounded-sm text-center hover:bg-hover-bg md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0"
                  >Cart</a
                >
              </li>
              <li>
                <a
                  routerLink="/pos/make-your-perfume"
                  routerLinkActive="active-link"
                  class="block py-2 capitalize px-3 text-text-primary rounded-sm text-center hover:bg-hover-bg md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0"
                  >Make Your Perfume</a
                >
              </li>
            </ul>
          </div>

          <!-- menu button -->
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center hover:cursor-pointer p-2 w-9 h-9 me-1 justify-center text-sm dark:hover:bg-gray-500/40 dark:text-white text-text-primary rounded-md md:hidden hover:bg-hover-bg focus:outline-none focus:ring-2 focus:ring-[#E5E7EB]"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
          <!-- favorate icon -->
          <svg
            class="w-7 shadow-2xl cursor-pointer m-0 shadow-blue-200 hover:scale-110 transition-transform duration-300 ease-in-out hover:shadow-blue-400"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 495.00 495.00"
            xml:space="preserve"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  style="fill: #9bc9ff"
                  d="M362.96,14.24c-49.72,0-92.95,27.53-115.46,68.13v398.39C284.67,452.84,495,288.55,495,146.28 C495,73.36,435.88,14.24,362.96,14.24z"
                ></path>
                <path
                  style="fill: #bddbff"
                  d="M132.04,14.24C59.12,14.24,0,73.36,0,146.28c0,142.26,210.33,306.55,247.5,334.48V82.37 C224.99,41.77,181.76,14.24,132.04,14.24z"
                ></path>
              </g>
            </g>
          </svg>
          <!-- cart icon -->
          <svg
            routerLink="/pos/cart"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 80 80"
            xml:space="preserve"
            class="w-10 h-10 m-0 cursor-pointer rounded-full hover:scale-110 transition-transform duration-300 ease-in-out"
          >
            <path
              fill="#18CEF6"
              d="M26.029 58.156c-1.683 0-3.047 1.334-3.047 2.979 0 1.646 1.364 2.979 3.047 2.979s3.047-1.333 3.047-2.979c0-1.645-1.364-2.979-3.047-2.979zm17.795 0c-1.682 0-3.046 1.334-3.046 2.979 0 1.646 1.364 2.979 3.046 2.979 1.683 0 3.047-1.333 3.047-2.979 0-1.645-1.364-2.979-3.047-2.979zM22.515 26.997l5.416 14.5h21.793l6.189-14.5H22.515z"
            />
            <path
              fill="#233251"
              d="m58.753 13-9.67 28.181H23.85l-6.527-17.968h29.111v-2.27H14.036l7.722 21.258-6.281 10.643h35.794v-2.271H19.494l4.207-7.125h27.051l9.67-28.18H71V13H58.753zm-33.4 41.861c-3.134.002-5.674 2.484-5.676 5.548.002 3.065 2.542 5.548 5.676 5.549 3.133-.002 5.672-2.485 5.672-5.549 0-3.064-2.539-5.546-5.672-5.548zm0 8.827c-1.853-.003-3.35-1.468-3.353-3.279.003-1.81 1.5-3.274 3.353-3.277 1.849.003 3.349 1.467 3.352 3.277-.003 1.812-1.503 3.276-3.352 3.279zm17.794-8.827c-3.134.002-5.673 2.484-5.674 5.548.001 3.065 2.54 5.548 5.674 5.549 3.134-.002 5.672-2.485 5.674-5.549-.002-3.064-2.54-5.546-5.674-5.548zm0 8.827c-1.851-.003-3.349-1.468-3.352-3.279.003-1.81 1.501-3.274 3.352-3.277 1.851.003 3.35 1.467 3.353 3.277-.003 1.812-1.502 3.276-3.353 3.279z"
            />
          </svg>
          <!-- user profile button -->

          <div>
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-10 h-10 rounded-full"
                src="./images/user-profile.jpeg"
                alt="user photo"
              />
            </button>
          </div>
          <!-- Dropdown menu -->

          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3">
              <span class="block text-sm text-gray-900 dark:text-white"
                >Bonnie Green</span
              >
              <span
                class="block text-sm text-gray-500 truncate dark:text-gray-400"
                >bite.com</span
              >
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <a
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  >Settings</a
                >
              </li>

              <li>
                <a
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
